.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    color: #262626;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #262626;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, .3);
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: black;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f05f40;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: black;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #f05f40;
    }
    .navbar-default.affix {
        border-color: rgba(34, 34, 34, .05);
        background-color: #fff;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #262626;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

.title {
    font-family: 'simoneregular';
    font-size: 96px;
    text-shadow: 0px 3px #e05278;
    color: #AD1F45;
    text-align: left;
    margin: 0;
    padding: 0;
}

.title2 {
    font-family: 'simoneregular';
    font-size: 96px;
    text-shadow: 0px 3px #e05278;
    color: #AD1F45;
    margin: 0;
    text-align: center;
    padding: 0;
}

@media screen and (min-width: 1400px) {
    .title,
    .title2 {
        font-size: 156px;
    }
}

#gift-box {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6,
#star7,
#star8,
#star9,
#star10,
#star11,
#star12,
#star13,
#star14,
#star15,
#star16,
#star17,
#star18,
#star19,
#star20,
#star21,
#star22,
#star23,
#star24,
#star25,
#star26,
#star27,
#star28,
#star29,
#star30,
#star31,
#star32,
#star33,
#star34,
#star35,
#star36,
#star37,
#star38,
#star39,
#star40,
#star41,
#star42,
#star43,
#star44,
#star45,
#star46,
#star47,
#star48,
#star49,
#star50 {
    position: absolute;
}

#balloon1,
#balloon2,
#balloon3,
#balloon4,
#balloon5,
#balloon6,
#balloon7,
#balloon8 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

#gift-box:hover {
    -webkit-filter: drop-shadow(2px 2px 0 #00f) drop-shadow(-2px -2px 0 #00f);
    filter: drop-shadow(2px 2px 0 #00f) drop-shadow(-2px -2px 0 #00f);
}

#main {
    background-image: url(../media/head-background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
}

#click-me {
    font-size: 22px
}

#loader {
    text-align: center;
    position: relative;
    z-index: 2000;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.first,
.second,
.third {
    display: none;
    vertical-align: middle;
    text-align: center;
}


/* Preloader Animation --START */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    z-index: 1500;
}

h1 {
    color: #EEEEEE;
    font-size: 40px;
    height: 309px;
    line-height: 309px;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 0.6s ease-out;
    transition: all 0.3s 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* Preloader Animation --END */

.stars {
    width: 100%;
    position: relative;
    z-index: 1250;
    height: 100%;
}

.row1 {
    height: 25%
}