.title,
.title2 {
    font-family: simoneregular;
    font-size: 96px;
    text-shadow: 0 3px #e05278;
    color: #AD1F45
}

#main,
.title,
.title2 {
    padding: 0;
    margin: 0
}

#loader,
#main {
    position: relative
}

.title {
    text-align: left
}

#loader,
#overlay,
.title2 {
    text-align: center
}

@media screen and (min-width:1400px) {
    .title,
    .title2 {
        font-size: 156px
    }
}

#gift-box {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto
}

#star1,
#star10,
#star11,
#star12,
#star13,
#star14,
#star15,
#star16,
#star17,
#star18,
#star19,
#star2,
#star20,
#star21,
#star22,
#star23,
#star24,
#star25,
#star26,
#star27,
#star28,
#star29,
#star3,
#star30,
#star31,
#star32,
#star33,
#star34,
#star35,
#star36,
#star37,
#star38,
#star39,
#star4,
#star40,
#star41,
#star42,
#star43,
#star44,
#star45,
#star46,
#star47,
#star48,
#star49,
#star5,
#star50,
#star6,
#star7,
#star8,
#star9 {
    position: absolute;
}

#balloon1,
#balloon2,
#balloon3,
#balloon4,
#balloon5,
#balloon6,
#balloon7,
#balloon8 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0
}

#gift-box:hover {
    -webkit-filter: drop-shadow(2px 2px 0 #00f) drop-shadow(-2px -2px 0 #00f);
    filter: drop-shadow(2px 2px 0 #00f) drop-shadow(-2px -2px 0 #00f)
}

#main {
    background-image: url(../media/head-background.jpg);
    background-size: cover;
    height: 97vh;
    background-position: bottom right
}

#click-me {
    font-size: 22px
}

#loader {
    z-index: 1500
}

h1,
h2,
p {
    font-family: Lato, sans-serif
}

.first,
.second,
.third {
    display: none;
    vertical-align: middle;
    text-align: center;
    color: #EEE;
    font-size: 40px;
    height: 400px;
    line-height: 400px
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000
}

#overlay,
.stars {
    position: relative;
    width: 100%
}

#loader-wrapper .loader-section.section-left {
    left: 0
}

#loader-wrapper .loader-section.section-right {
    right: 0
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded #loader-wrapper .loader-section.section-left,
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out
}

.stars {
    z-index: 1250;
    height: 100%
}

.row1 {
    height: 25%
}

#overlay {
    z-index: 250;
    background-color: #fff
}

body {
    background-color: #FF6FBA
}

.navbar-default,
.navbar-default .nav>li.active>a:focus:hover,
.navbar-default .nav>li.active>a:hover {
    background-color: transparent
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent
}

.navbar-default {
    border-color: rgba(255, 255, 255, .3)
}

.navbar-default.affix,
.test {
    background-color: #fff
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: #222
}

.navbar-default .nav>li>a:focus:hover,
.navbar-default .nav>li>a:hover,
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover {
    color: #f05f40
}

.navbar-default.affix {
    border-color: rgba(34, 34, 34, .05)
}

.navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #262626
}

.navbar-default.affix .navbar-header .navbar-brand:focus,
.navbar-default.affix .navbar-header .navbar-brand:hover {
    color: #eb3812
}

.navbar-default.affix .nav>li>a,
.navbar-default.affix .nav>li>a:focus {
    color: #222
}

.navbar-default.affix .nav>li>a:focus:hover,
.navbar-default.affix .nav>li>a:hover {
    color: #f05f40
}

#play1,
#play2,
#play3,
#play4,
#play5,
#play6,
#play7,
#play8,
#play9 {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

#pause1,
#pause2,
#pause3,
#pause4,
#pause5,
#pause6,
#pause7,
#pause8,
#pause9 {
    position: absolute;
    z-index: 0;
    cursor: pointer;
}

.img-circle {
    position: relative;
    z-index: 1
}

.cor {
    width: 100%
}

.slick-next:before,
.slick-prev:before {
    color: red!important
}