.title {
    font-family: 'simoneregular';
    font-size: 108px;
    text-shadow: 0px 3px #e05278;
    color: #AD1F45;
    text-align: left;
    margin: 0;
    padding: 0;
}

#gift-box {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background:linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8));
    
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#star1 {
    position: absolute;
}
#star2 {
    position: absolute;
}
#star3 {
    position: absolute;
}
#star4 {
    position: absolute;
}
#star5 {
    position: absolute;
}
#star6 {
    position: absolute;
}
#star7 {
    position: absolute;
}
#star8 {
    position: absolute;
}
#star9 {
    position: absolute;
}
#star10 {
    position: absolute;
}
#star11 {
    position: absolute;
}
#star12 {
    position: absolute;
}
#star13 {
    position: absolute;
}
#star14 {
    position: absolute;
}
#star15 {
    position: absolute;
}
#star16 {
    position: absolute;
}
#star17 {
    position: absolute;
}
#star18 {
    position: absolute;
}
#star19 {
    position: absolute;
}
#star20 {
    position: absolute;
}
#star21 {
    position: absolute;
}


#balloon1, #balloon2, #balloon3, #balloon4, #balloon5, #balloon6, #balloon7, #balloon8 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.grid_4 {
    align-items: center
}


.fb-comments {
    background-color: #E0E4CC;
    margin-left: auto;
    margin-right: auto;
}




#gift-box:hover{
    -webkit-filter: drop-shadow(2px 2px 0 #00f)
                  drop-shadow(-2px -2px 0 #00f);
  filter: drop-shadow(2px 2px 0 #00f) 
          drop-shadow(-2px -2px 0 #00f);
}





#main {
    background-image: url(../media/birthday-back.jpg);    background-size:cover;
}

p {
    font-size: 12px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: black
}

#bharati {
    font-family: 'alex_brushregular';
    font-size: 64px;
    color: #FA6900;
    text-shadow: 2px 2px #902a3e;
    
}

#wishes {
    background-color: #E0E4CC;
}
.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}




#container marketting {
align-content: center;
}



.back {
    background-color: black
}


.title2 {
    font-family: 'simoneregular';
    font-size: 96px;
    text-shadow: 0px 3px #e05278;
    color: #AD1F45;
    margin: 0;
    text-align: center;
    padding: 0;
}

#container {
    background-color: #99B898
}

.container {
    
}

body {
    background-image:url(../media/floral.jpg);
    background-repeat: repeat;
    color: aqua
}

h2 {
    color: black
}



/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.sk-cube-grid {
   position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


