#title {
    font-family: 'Great Vibes';
    font-size: 96px;
    text-align: center;
    color: #E97F02;
    text-shadow: 2px 2px #ff0000;
}

#gift-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}



#star1 {
    position: absolute;
}
#star2 {
    position: absolute;
}
#star3 {
    position: absolute;
}
#star4 {
    position: absolute;
}
#star5 {
    position: absolute;
}
#star6 {
    position: absolute;
}
#star7 {
    position: absolute;
}
#star8 {
    position: absolute;
}
#star9 {
    position: absolute;
}
#star10 {
    position: absolute;
}
#star11 {
    position: absolute;
}
#star12 {
    position: absolute;
}
#star1p {
    position: absolute;
}
#star2p {
    position: absolute;
}
#star3p {
    position: absolute;
}
#star4p {
    position: absolute;
}
#star5p {
    position: absolute;
}
#star6p {
    position: absolute;
}
#star7p {
    position: absolute;
}
#star8p {
    position: absolute;
}
#star9p {
    position: absolute;
}
.balloon-blue {
    position: inherit
}

.grid_4 {
    align-items: center
}


.fb-comments {
    background-color: #F8CA00;
    margin-left: auto;
    margin-right: auto;
}

body {
    
}

body {
    background-color: #490A3D
}

.container_16 {
    background-color: #BD1550
}


img:hover{
    -webkit-filter: drop-shadow(2px 2px 0 #00f)
                  drop-shadow(-2px -2px 0 #00f);
  filter: drop-shadow(2px 2px 0 #00f) 
          drop-shadow(-2px -2px 0 #00f);
}
