@font-face {
    font-family: Simone;
    src: url(simone.ttf);
}




#title {
    font-family: 'Simone';
    font-size: 96px;
    text-align: center;
    color: #E97F02
}

.gift {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#star1 {
    position: fixed;
}
#star2 {
    position: fixed;
}
#star3 {
    position: fixed;
}
#star4 {
    position: fixed;
}
#star5 {
    position: fixed;
}
#star6 {
    position: fixed;
}
#star7 {
    position: fixed;
}
#star8 {
    position: fixed;
}
#star9 {
    position: fixed;
}
#star10 {
    position: fixed;
}
#star11 {
    position: fixed;
}
#star12 {
    position: fixed;
}
#star1p {
    position: fixed;
}
#star2p {
    position: fixed;
}
#star3p {
    position: fixed;
}
#star4p {
    position: fixed;
}
#star5p {
    position: fixed;
}
#star6p {
    position: fixed;
}
#star7p {
    position: fixed;
}
#star8p {
    position: fixed;
}
#star9p {
    position: fixed;
}
.balloon-blue {
    position: inherit
}

.grid_4 {
    align-items: center
}


.fb-comments {
    background-color: #F8CA00;
    margin-left: auto;
    margin-right: auto;
}

body {
    
}

body {
    background-color: #490A3D
}

.container_16 {
    background-color: #BD1550
}

#title {
    text-align: center
}
